.corpo {
    margin-top: 15px;
    margin-left: 35px;
    display: inline-flex;
}

#titulo-card {
    width: 158px;
    height: 37px;
    font-family: Roboto;
    font-size: 21px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    text-align: center;
    display: block;
    margin-left: 52px;
  }

  .dados {
      float: right;
  }

  #empresa-card {
    font-size: 15px;
    text-align: center;
    display: block;
  }

  .imagem {
    width: 105px;
    margin-left: 77px;
  }

  .botoes {
    width: 25px;
    float: right;
    margin-left: 2px;
  }