.card {
  margin-top: 64px;
}

#titulo {
  width: 158px;
  height: 37px;
  font-family: Roboto;
  font-size: 21px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  text-align: left;
  color: #8245bf;
}

.app-logo {
  width: 53.3px;
  height: 52px;
  background-color: #000000;
  margin-top: 10px;
}

#input {
  margin-top: 5px;
  border-radius: 5px;
  border: solid 1px #707070;
  background-color: #ffffff;
  width: 180px;
}

.erro {
  width: 431px;
  height: 39px;
  border-radius: 5px;
  background-color: #f2cb05;
  color: #ffffff;
}

#botao {
  border-radius: 5px;
  background-color: #8245bf;
  color: #ffffff;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 350;
  margin-left: 10px;
  width: 55px;
}

#qtdRepos {
  font-size: 21px;
  font-weight: bold;
  color: #8245bf;
  margin-left: 60px;
}